In [1]:
x = True
x

True

In [2]:
type(x)

bool

In [4]:
y = 100 < 10
y

False

In [5]:
type(y)

bool

In [6]:
float(y)

0.0

In [7]:
y

False

In [9]:
x+y

1

In [10]:
True * True

1

In [12]:
bools = [True, True, False, True]
sum(bools)

3

In [14]:
x = complex(1, 2)
y = complex(2, 1)
print(x * y)

type(x)

5j

complex

In [17]:
x = ('a', 'b')
# x = 'a', 'b'
x

('a', 'b')

In [18]:
type(x)

tuple

In [19]:
x = [1, 2]
x[0] = 10
x

[10, 2]

In [22]:
x = 1,2
x[0] = 1

TypeError: 'tuple' object does not support item assignment

In [25]:
integers = (10, 20, 30)
x, y ,z = integers
print(x)
print(y)
print(z)

10
20
30

In [26]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [27]:
a[0:2]

[2, 4]

In [30]:
a[-4:]

[2, 4, 6, 8]

In [38]:
s = 'foobar'
s[-3:]

'bar'

In [41]:
d = {22: 'Frodo', 'age': 33}
type(d)

dict

In [42]:
print(d['age'])
print(d[22])

33
Frodo

In [43]:
s1 = {'a', 'b'}
type(s1)

set

In [46]:
s2 = {'a'}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [47]:
s1.intersection(s2)

{'a'}

In [49]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

In [50]:
f = open('newfile.txt', 'w')
f.write('Tseting\n')
f.write('Testing again')
f.close()

In [1]:
%pwd

'C:\\Users\\Gao\\Documents\\GitHub\\Practice'

In [2]:
f = open('newfile.txt', 'r')
print(f.read())

Tseting
Testing again

In [6]:
# f = open('insert_full_path_to_file/newfile.txt', 'r')

In [8]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Overwriting us_cities.txt

In [12]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')
    city = city.title()
    population = f'{int(population):,}' # f'{int(population):,}'
    print(city.ljust(15) + population)
data_file.close

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [13]:
x_values = [1, 2, 3]
for x in x_values:
    print(x * x)

1
4
9

In [16]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

In [18]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}.')

The capital of Japan is Tokyo.
The capital of Korea is Seoul.
The capital of China is Beijing.

In [20]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [33]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [41]:
animals = ['dog', 'cat', 'bird']
plurals = [a + 's' for a in animals]
# plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [43]:
doubles = [2 * x for x in range(8)]
int(doubles == print(doubles))

[0, 2, 4, 6, 8, 10, 12, 14]

0

In [44]:
1 != 2

True

In [48]:
x = 'yes' if [] else 'no'
x

'no'

In [49]:
def f(x):
    if x < 0:
        return 'negative'
    return 'nonnegative'

In [50]:
f(0)

'nonnegative'

In [51]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [52]:
f(999)

998001

In [53]:
f?

In [54]:
f??

In [55]:
def f(x):
    return x**3

In [58]:
f = lambda x: x**3

In [59]:
from scipy.integrate import quad
quad(lambda x: x**3, 0, 2)

(4.0, 4.440892098500626e-14)

In [63]:
gx = lambda x: x**3

In [74]:
import matplotlib.pyplot as plt
# plt.plot(x, 'b-', label="white noise")
plt.plot?

In [75]:
def f(X, a=1, b=1):
    return a + b*X

In [76]:
f(100)

101

In [77]:
f(100, a =666, b=222)

22866

In [79]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [147]:
x_vals, y_vals = [1, 2, 3], [4, 5, 6]
a = 0
for x, y in zip(x_vals, y_vals):
    a = a + x*y
print(a)

32

In [100]:
def number_even(n):
    count = 0
    for i in range(n):
        count += (1 if i%2 == 0 else 0)
    return count

In [101]:
number_even(100)

50

In [106]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
count = 0
for i in range(4):
    count += (1 if (pairs[i][0]%2 == 0)&(pairs[i][1]%2 == 0) else 0)
print(count) 

# sum([x % 2 == 0 and y % 2 == 0 for x, y in pairs])

2

In [148]:
def p(x, coeff):
    output = 0
    for i in range(len(coeff)):
        output += coeff[i]*x**i
        i += 1
    return output
# how to use enumerate()
#     return sum(a * x**i for i, a in enumerate(coeff))

In [149]:
p(2,[1,2,3,4])

49

In [154]:
# def capitalize(x):
#     return x.upper()
def f(string):
    count = 0
    for letter in string:
        if letter == letter.upper() and letter.isalpha():
            count += 1
    return count

In [155]:
f('The Rain in Spain')

3

In [156]:
def count_uppercase_chars(s):
    return sum([c.isupper() for c in s])

count_uppercase_chars('The Rain in Spain')

3

In [130]:
def judge(seq_a, seq_b):
    s_a, s_b = set(seq_a), set(seq_b)
    if s_a.issubset(s_b):
        return True
    else:
        return False

In [131]:
judge([1,2,3],[2,5,2])

False

In [132]:
judge([2,5],[2,5,2])

True

In [157]:
def linapprox(f, a, b, n, x):
    length_of_interval = b - a
    num_subintervals = n - 1
    step = length_of_interval / num_subintervals
    point = a
    while point <= x:
        point += step
    u, v =point-step, point
    return f(u) + (x-u)*(f(v)-f(u))/(v-u)

In [160]:
import numpy as np

n = 100
ϵ_values = [np.random.randn() for i in range(n)]